VITE_SUPABASE_URL=https://cckkpsvhqnmakdpirmql.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNja2twc3ZocW5tYWtkcGlybXFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAyMTk5MjcsImV4cCI6MjA4NTc5NTkyN30.KgxYVfdvBVuLt4y0aR5VVOwD72d3eDp_0PEfB37zap4
VITE_API_URL=http://localhost:4000/api
